button {
  display: block;
  margin: 5vh auto;
  font-size: 3rem;
  border: none;
  padding: 15px;
  border-radius: 15px;
  color: white;
  background-color: black;
  cursor: pointer;
}

#container {
  display: flex;

  border-radius: 10px;
  align-items: stretch;
  justify-content: center;
  height: 960px;
  width: 960px;
  border: grey solid 5px;
  background-color: rgba(211, 211, 211, 0.274);
  margin: auto;
}

#container > div {
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.square {
  flex-grow: 1;
  flex-shrink: 0;
}

.black {
  background-color: black;
}
